@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Oswald:wght@200..700&display=swap');

*
{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*/////////////////////////////////////////////////*/
/*////////////////// Prompto //////////////////////*/
/*/////////////////////////////////////////////////*/

html,body
{
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  height: 100%;
  width: 100%;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  overflow-y: hidden;
}

#atomlogo
{
  color: #fff;
}
#inputtxt
{
  border: none;
  width: 50em;
  padding: 2em;
  margin: 1em;
  border-bottom: 3px solid #505285;
  overflow: auto;
  resize: none;
}
#resulttext
{
  border: none;
  width: 50em;
  padding: 2em;
  margin: 1em;
  border-bottom: 3px solid #505285;
  overflow: auto;
  resize: none;
  background-color: #7e7ebb;
  color: #fff;

}
#sub_btn
{
font-size: 1.2em;
background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
border: none;
color: #fff;
padding: 0.3em 1em;
font-family: "Edu AU VIC WA NT Hand", cursive;
transition: 0.3s;
border-bottom: 3px solid transparent;
}

#sub_btn:hover
{
  color: #505285;
  background-color: #fff;
  border-bottom-color: #505285;
}
#heading
{
  font-size: 4em;
  font-family: 'Oswald', sans-serif;
}
.result
{
  margin-top: 5em;
}


/* tooltip for copied text */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

